* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

div.container {
  width: 400px;
  margin: 0 auto;
}

.love {
  font-size: 4em;
}

.hidden {
  display: none;
}
